# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.output/
.wxt/
*.tsbuildinfo

# turbo
.turbo/

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
